-# - if current_user
-#   = current_user.email
-#   = link_to 'Account Setting', edit_user_registration_path
-#   = link_to 'Logout', destroy_user_session_path, method: :delete
-# - else


%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "#"} Learning Rails
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      - if current_user
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
            = link_to root_path, class: 'nav-link' do
              .fa.fa-home
              Home
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
            = link_to courses_path, class: 'nav-link' do
              .fa.fa-book
              Course
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
            = link_to new_course_path, class: 'nav-link' do
              .fas.fa-plus
              New Course
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
            = link_to users_path, class: 'nav-link' do
              .fas.fa-user
              Users
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(home_activity_path)}"}
            = link_to home_activity_path, class: 'nav-link' do
              .fas.fa-bell
              Activity
        %form.d-flex
          = form_tag(courses_path, method: :get) do
            .input-group
              = text_field_tag :title, params[:title], class: 'form-control', placeholder: 'Search'
              %button.btn.btn-outline-success{:type => "submit"} Search
        %ul.navbar-nav.ml-auto
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to 'Account Setting', edit_user_registration_path, class: 'dropdown-item'
              %li
                %hr.dropdown-divider/
              %li
                = link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete
      - else
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Sign In', new_user_session_path, class: 'nav-link'